@use "@styles/tw";
@use "@styles/variables" as *;

.counter {
  @apply flex gap-4 text-center  font-bold items-center;
  font-size: 32px;
  @media (max-width: $md) {
    font-size: 16px;
    gap: 4px;
  }

  .title {
    @apply text-xs;
  }

  span {
    @apply font-semibold;
    color: #e07575;
  }
}
