@use "@styles/tw";
@use "@styles/variables" as *;
@use "@styles/mixins" as *;

.cart-page {
  padding-block: 80px;

  &__container {
    display: flex;
    flex-direction: column;
    gap: 80px;
    margin-top: 80px;
  }

  &__bag {
    @apply flex flex-col gap-10;

    &__content {
      @apply flex flex-col gap-10;

      img {
        height: 54px;
        object-fit: contain;
      }
    }

    &__footer {
      @apply flex justify-between;

      .button-primary {
        background-color: transparent;
        color: black;
        border: $light-border;

        &:hover {
          background-color: $success;
        }
      }
    }
  }

  &__action {
    @apply flex justify-between gap-20;

    @media (max-width: $lg) {
      flex-direction: column;
      align-items: center;
      gap: 80px;
    }

    .promo {
      @apply flex h-fit gap-4;

      input {
        width: 300px;
        outline: none;
        border: $light-border;
        padding: 16px 24px;
        @media (max-width: $md) {
          width: 100%;
        }
      }

      .button-primary {
        @media (max-width: $md) {
          width: 100%;
          padding-inline: 16px;
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }
    }

    .cart-details {
      @apply flex flex-col py-7 px-6 gap-6;
      width: 470px;
      border: $light-border;

      @media (max-width: $md) {
        width: 100%;
      }

      h3 {
        font-size: 20px;
        font-weight: 500;
      }

      .button-primary {
        margin-inline: auto;
      }
    }

    .cart-details-wrapper {
      & > .detail {
        @apply flex justify-between py-4;
      }
      & > *:not(:last-child) {
        border-bottom: $light-border;
      }
    }
  }

  .q-wrapper {
    button {
      @apply cursor-pointer p-1;
    }
  }
}
