@use "@styles/tw";
@use "@styles/variables" as *;

.our-products {
  margin-block: 70px;

  .products {
    display: grid;
    gap: 30px;
    padding-block: 60px;

    grid-template-columns: repeat(4, 1fr);

    @media (max-width: $md) {
      grid-template-columns: 1fr;
    }
    @media (min-width: $md) and (max-width: $lg) {
      grid-template-columns: repeat(2, 1fr);
    }
    @media (min-width: $lg) and (max-width: $xl) {
      grid-template-columns: repeat(3, 1fr);
    }
  }
}
