@use "@styles/tw";
@use "@styles/mixins" as *;
@use "@styles/variables" as *;

.hero {
  min-height: 500px;
  &__container {
    @apply flex;

    @media (max-width: $lg) {
      @apply flex-col;
    }
  }

  &__filter {
    flex: 1;
    min-width: 0;

    .ant-menu-inline {
      border-inline-end: 0 !important;
    }
    .ant-menu-submenu-title,
    .ant-menu-item.ant-menu-item-only-child {
      padding-left: 0 !important;
    }
  }

  &__slider {
    @apply pt-10 pl-10;

    border-left: $light-border;
    flex: 3;
    min-width: 0;

    @media (max-width: $lg) {
      @apply border-0 pl-0;
    }
  }
}
