@use "@styles/tw";
@use "@styles/variables" as *;

.edit-profile {
  margin: 80px 0 140px;

  .container {
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 100px;

    @media (max-width: $xl) {
      grid-template-columns: 1fr;
      align-items: center;
    }
  }

  .menu {
    @apply flex flex-col gap-4;
    &__head {
      @apply font-medium;
    }
    &__nest {
      color: #898989;
      padding-left: 35px;

      ul {
        @apply flex flex-col gap-2;
      }
    }
  }

  .active {
    color: $danger;
  }

  .form {
    @apply p-20 shadow-sm flex flex-col gap-4;

    @media (max-width: $md) {
      padding: 20px;
    }
    h3 {
      font-weight: 500;
      font-size: 20px;
      color: $danger;
    }

    form {
      @apply flex flex-col gap-6;

      label {
        @apply flex flex-col gap-2;
      }

      input {
        background-color: #f5f5f5;
        padding: 13px 16px;
      }
    }
    .profile-data {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      row-gap: 24px;
      column-gap: 50px;

      @media (max-width: $md) {
        grid-template-columns: 1fr;
        row-gap: 18px;
      }
    }

    .password-change {
      @apply flex flex-col gap-4;
    }
    .new-password {
      @apply flex flex-col;
    }
  }

  .error {
    color: $danger;
  }
}
