@use "@styles/variables" as *;

@mixin screen-sm {
  @media (min-width: $sm) {
    @content;
  }
}
@mixin screen-md {
  @media (min-width: $md) {
    @content;
  }
}
@mixin screen-lg {
  @media (min-width: $lg) {
    @content;
  }
}
@mixin screen-xl {
  @media (min-width: $xl) {
    @content;
  }
}
@mixin screen-xxl {
  @media (min-width: $xxl) {
    @content;
  }
}
