@use "@styles/variables" as *;

@mixin screen-sm {
  @media (max-width: $sm) {
    @content;
  }
}
@mixin screen-tb {
  @media (max-width: $md) {
    @content;
  }
}
@mixin screen-ss {
  @media (min-width: $md) and (max-width: $lg) {
    @content;
  }
}
@mixin screen-xl {
  @media (min-width: $lg) and (max-width: $xl) {
    @content;
  }
}
@mixin screen-xxl {
  @media (min-width: $xl) {
    @content;
  }
}
