@use "@styles/tw";
@use "@styles/variables" as *;

.container {
  width: 100%;

  margin-right: auto;
  margin-left: auto;

  @media (min-width: $sm) {
    max-width: $container-sm;
  }
  @media (max-width: $sm) {
    padding-inline: 5vw;
  }

  @media (min-width: $md) {
    max-width: $container-md;
  }

  @media (min-width: $lg) {
    max-width: $container-lg;
  }

  @media (min-width: $xl) {
    max-width: $container-xl;
  }
}

.product-image {
  height: 100%;
  width: 100%;
  object-fit: scale-down;
  position: absolute;
  top: 0px;
  left: 0;
  z-index: -1;
}

.button-primary {
  @apply py-4 px-12 w-fit text-white  cursor-pointer rounded-sm hover:bg-red-400 duration-200;
  background-color: $danger;

  @media (max-width: $lg) {
    padding-block: 12px;
    padding-inline: 34px;
  }
}
