@use "@styles/variables" as *;

.container {
  width: 100%;

  margin-right: auto;
  margin-left: auto;

  @media (min-width: $sm) {
    max-width: $container-sm;
  }
  @media (max-width: $sm) {
    padding-inline: 5vw;
  }

  @media (min-width: $md) {
    max-width: $container-md;
  }

  @media (min-width: $lg) {
    max-width: $container-lg;
  }

  @media (min-width: $xl) {
    max-width: $container-xl;
  }
}
