@use "@styles/tw";
@use "@styles/mixins" as *;
@use "@styles/variables" as *;

.header {
  border-bottom: $light-border;
  position: relative;

  .header-container {
    @apply flex flex-col;
  }

  &__top {
    @apply flex justify-end items-center;
    gap: 231px;
    color: $dark-text;

    @media (max-width: $md) {
      @apply text-center flex-col items-center gap-2;
      p {
        font-size: 8px;
      }
    }

    @media (min-width: $md) and (max-width: $lg) {
      @apply justify-center gap-4;
      p {
        font-size: 12px;
      }
    }

    &__select {
      @apply border-0 bg-transparent text-white w-auto;

      .ant-select-content {
        margin-right: 11px;
      }
      .ant-select-suffix {
        @apply text-white;
      }
    }

    &-wrapper {
      @apply py-3;
      background-color: $dark-bg;
    }

    p {
      font-size: $font-sm;

      span {
        @apply ml-2 font-semibold underline;
      }
    }
  }

  &__bottom {
    @apply flex justify-between pt-10 pb-4 items-center;

    @media (max-width: $lg) {
      @apply pt-4;
    }

    &__logo {
      @apply font-bold;
      font-size: $font-md;
    }

    &__nav {
      ul {
        @apply flex gap-8;

        a {
          @apply duration-200 border-b border-b-transparent py-[7px];
        }

        a::after {
          content: "";
          display: block;
          height: 2px;
          width: 0;
          background: $dark-bg;
          transition: 0.3s;
        }
        a.active::after,
        a:hover::after {
          width: 100%;
        }
      }

      @media (max-width: $lg) {
        @apply w-full;
        ul {
          @apply flex-col items-start text-center w-full;
          a {
            @apply py-[7px];
          }
        }
      }
    }

    &__actions {
      @apply flex items-center gap-6;

      @media (max-width: $lg) {
        @apply flex-col-reverse w-full items-start;
      }
    }
  }

  &__collaps {
    @apply flex items-center transition-all;
    gap: 150px;

    @media (max-width: $xl) {
      gap: 60px;
    }

    @media (max-width: 991px) {
      @apply absolute min-h-screen w-screen top-full right-0 flex-col text-start justify-start p-5 z-[1000];
      background-color: $dark-bg;
      color: $dark-text;
      transform: translateX(-100%);
      will-change: transform;
    }
  }

  &__search {
    @apply flex items-center px-5 rounded bg-[#f5f5f5];
    min-width: 240px;
    gap: 34px; // custom
    padding-right: 12px;

    .search-box {
      @apply outline-0 py-[10px];
    }
    .search-icon {
      @apply cursor-pointer;
    }
  }
}

.wish,
.cart,
.account {
  @apply cursor-pointer rounded-full p-1 hover:bg-red-300 duration-200 relative;

  &.active {
    background-color: $danger;
  }
  .productQuantity {
    width: 15px;
    height: 15px;
    background-color: red;
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 50%;
    font-size: 10px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  @media (max-width: 991px) {
    filter: contrast(0);
  }
}
.account {
  .menu-profile {
    @apply absolute top-full right-0 flex-col gap-3 py-4 px-5 text-sm rounded-sm;
    width: 225px;
    white-space: nowrap;
    z-index: 1000;
    background: rgba(0, 0, 0, 1);
    display: none;

    &.active {
      display: flex;
    }
  }

  li {
    display: grid;
    grid-template-columns: 1fr 4fr;
    gap: 16px;
    color: white;
  }
}

.show-menu {
  transform: translateX(0);
}

.collaps-icon {
  @media (min-width: $lg) {
    @apply hidden;
  }
}
