@use "@styles/tw";
@use "@styles/variables" as *;

// .button-primary {
//   @apply py-4 px-12 w-fit text-white  cursor-pointer rounded-sm hover:bg-red-400 duration-200;
//   background-color: $danger;

//   @media (max-width: $lg) {
//     padding-block: 12px;
//     padding-inline: 34px;
//   }
// }
