@use "@styles/tw";
@use "@styles/variables" as *;

.feature-product {
  @apply w-full h-full flex flex-col gap-4 text-white p-8 justify-end relative;

  .product-image {
    background-color: black;
  }

  h3 {
    @apply font-semibold text-2xl;
  }

  p {
    @apply text-sm;
    max-width: 240px;
  }

  .btn {
    @apply w-fit border-b border-white pb-[3px] cursor-pointer hover:opacity-[0.5] duration-200;
  }
}
