@use "@styles/tw";
@use "@styles/mixins" as *;
@use "@styles/variables" as *;

.slider {
  @apply w-full;

  &__content {
    @apply bg-black text-white px-16 py-10 flex items-center justify-between;

    min-height: 450px;

    @media (max-width: $md) {
      height: 450px;
      flex-direction: column-reverse;
    }
  }

  &__text {
    @apply max-w-xl flex flex-col justify-between;

    &__brand {
      @apply flex items-center gap-4 mb-6;

      @media (max-width: $lg) {
        margin-bottom: 8px;
      }

      .brand-name {
        font-size: 16px;
      }
    }

    &__title {
      @apply text-5xl font-semibold  mb-3;
      line-height: 60px;

      @media (max-width: $lg) {
        font-size: 20px;
        margin-bottom: 8px;
      }
    }

    &__btn {
      @apply flex items-center gap-3  pb-1 text-lg w-fit cursor-pointer duration-200;

      &:hover {
        opacity: 0.5;
      }

      @media (max-width: $lg) {
        margin-bottom: 8px;
      }

      span {
        @apply border-b;
      }
    }
  }

  &__image {
    object-fit: cover;
    height: 300px;
    @media (max-width: $lg) {
      width: 300px;
    }
  }
}

// HeroSlider.scss

.ant-carousel {
  .slick-dots {
    bottom: 20px;

    @media (max-width: $lg) {
      bottom: 10px;
    }

    li {
      height: 14px;
      width: 14px;
      border-radius: 50%;

      button {
        height: 14px;
        width: 14px;
      }
    }

    li.slick-active {
      height: 12px;
      width: 12px;
      background-color: $danger;
      outline: 2px solid white;

      &::after {
        content: "";
        display: none;
      }
    }
  }
}
