@use "@styles/tw";
@use "@styles/mixins" as *;
@use "@styles/variables" as *;

.footer {
  background-color: $dark-bg;
  color: $dark-text;
  min-height: 420px;

  &__container {
  }

  &__content {
    @apply grid items-start justify-between py-20  gap-10;

    grid-template-columns: repeat(5, 1fr);
    grid-auto-rows: minmax(120px, auto);

    @media (min-width: $lg) and (max-width: $xl) {
      grid-template-columns: repeat(4, 1fr);
    }
    @media (min-width: $sm) and (max-width: $md) {
      grid-template-columns: repeat(2, 1fr);
    }
    @media (min-width: $md) and (max-width: $lg) {
      grid-template-columns: repeat(3, 1fr);
    }
    @media (max-width: $sm) {
      grid-template-columns: 1fr;
    }

    a {
      @apply cursor-pointer hover:opacity-50 duration-200;
    }

    .footer-col {
      @apply flex flex-col gap-4 text-base;
    }

    .footer-title {
      @apply text-2xl font-bold mb-2;
    }
    .footer-subs {
      @apply text-xl font-medium;
    }
    .footer-email {
      @apply flex items-center flex-row justify-between border border-white py-3 px-4 rounded-sm w-[200px];

      input {
        @apply outline-0 w-fit text-base;
        flex: 6;
        min-width: 0;
      }
      img {
        flex: 1;
        min-width: 0;
      }
    }
    .socials {
      @apply flex gap-6;
    }
    .offer-text {
      @apply text-xs;
    }
    .footer-submit {
      @apply cursor-pointer hover:opacity-50 duration-200;
    }
  }
  .copyright {
    @apply text-center w-full m-auto py-6 opacity-40;
    color: $light-bg;
  }
}
