@use "@styles/tw";
@use "@styles/variables" as *;

.about {
  padding-top: 80px;
  &__hero {
    @apply flex items-center;
    padding: 80px 0 140px;
    gap: 75px;

    @media (max-width: $xl) {
      flex-direction: column;
    }

    &__text {
      @apply flex flex-col gap-6;

      h2 {
        font-size: 54px;
        line-height: 64px;
        font-weight: 600;
        margin-bottom: 16px;
      }
    }

    &__image {
      height: 600px;
      min-width: 700px;
      position: relative;
      @media (max-width: $xl) {
        min-width: 100%;
      }

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }

  &__stats {
    @apply grid grid-cols-4 gap-6 justify-between;

    @media (max-width: $md) {
      grid-template-columns: 1fr;
    }
    @media (min-width: $md) and (max-width: $lg) {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  &__stuff {
    margin-top: 140px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;

    @media (max-width: $lg) {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }

  .feature__content__bottom {
    @apply flex justify-between;
    margin-block: 140px;

    @media (max-width: $lg) {
      @apply flex-col items-center;
      gap: 50px;
    }

    .bottom-item {
      @apply flex flex-col items-center gap-6;
    }

    .text {
      @apply flex flex-col gap-2 items-center text-center;

      h3 {
        @apply text-xl font-semibold;
      }
    }
  }
}
