@use "tailwindcss";
@use "@styles/mixins" as *;
@use "@styles/variables" as *;

.footer {
  background-color: $dark-bg;
  color: $dark-text;

  &__container {
  }

  &__content {
    @apply grid items-start justify-between  py-[80px] grid-cols-5 gap-[40px];

    @media (min-width: $lg) and (max-width: $xl) {
      @apply grid-cols-4;
    }
    @media (min-width: $sm) and (max-width: $md) {
      @apply grid-cols-2;
    }
    @media (min-width: $md) and (max-width: $lg) {
      @apply grid-cols-3;
    }
    @media (max-width: $sm) {
      @apply grid-cols-1;
    }

    a {
      @apply cursor-pointer hover:opacity-50 duration-200;
    }

    .footer-col {
      @apply flex flex-col gap-[16px] text-base;
    }

    .footer-title {
      @apply text-2xl font-bold mb-[8px];
    }
    .footer-subs {
      @apply text-xl font-medium;
    }
    .footer-email {
      @apply flex items-center flex-row justify-between border border-white py-[12px] px-[16px] rounded-sm max-w-[200px];

      input {
        @apply outline-0 w-fit text-base;
        flex: 6;
        min-width: 0;
      }
      img {
        width: 24px;
        flex: 1;
        min-width: 0;
      }
    }
    .socials {
      @apply flex gap-[24px];
    }
    .offer-text {
      @apply text-xs;
    }
    .footer-submit {
      @apply cursor-pointer hover:opacity-50 duration-200;
    }
  }
  .copyright {
    @apply text-center w-full m-auto py-[24px] opacity-40;
    color: $light-bg;
  }
}
