@use "@styles/tw";
@use "@styles/variables" as *;

.stuff-card {
  width: fit-content;
  .stuff-image {
    background-color: #f5f5f5;
    width: fit-content;
    height: 430px;
    padding-top: 40px;

    img {
      height: 100%;
      object-fit: contain;
    }
  }

  .stuff-text {
    @apply mt-8 flex flex-col gap-2;
  }

  .stuff-social {
    ul {
      @apply flex gap-4 mt-2;
    }
  }
}
